/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark-color: #141922;
    --color-dark-grey: #282828;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #717171;
    --color-light-grey: #C1C1C1;
    --color-highlight: #ADFF2F;
}

body{
    font-family: 'Montserrat', sans-serif;
}

ul li{
    list-style: none;
}

a{
    text-decoration:none;
    color: inherit;
}
/* *********************************************
                    utility
 ********************************************* */
.uppercase{
    text-transform: uppercase;
}

.px-10{
    padding: 0 10px;
}

.py-10{
    padding: 10px 0;   
}

.border-bottom-grey{
    border-bottom: 1px solid var(--color-grey);
}

.border-circle{
    border-radius: 50%;
    overflow: hidden;
}

.margin-top{
    margin-top: 50px;
}

.margin-bottom{
    margin-bottom: 50px;
}



/* *********************************************
                    flex
 ********************************************* */

 .flex {
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.center-left{
    display: flex;
    align-items: flex-start;
}

.stretch {
    display: flex;
    align-items: stretch;
    align-content: stretch;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.left{
    display: flex;
    justify-content: end;
    align-items: center;

}



/* *********************************************
                    text
 ********************************************* */
 .text-center{
    text-align: center;
}
 .text-white{
    color: var(--color-white);
 }

 .text-grey{
    color: var(--color-grey);
 }

 .text-grey-light{
    color: var(--color-light-grey);
 }

 h3{
    font-size: 1.0em;
 }

 h4{
    font-size:0.7em;
 }

/* *********************************************
                    wrapper
 ********************************************* */

.wrapper {
    width: 100%;
    height: 100vh;
}

#call-to-action {
    background-color: rgba(0, 0, 0, 0.592);
    width: calc(100% - 250px);
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;

}

main {
    width: 100%;
    height: calc(100% - 90px);
    background-color: var(--color-dark-grey);
}

.menu {
    width: 250px;
    height: 100%;
    background-color: var(--color-black);
    font-size: 0.7em;
    font-weight: 600;

}

#main-content {
    width: calc(100% - 250px);
    background-color: var(--color-dark-color);
    overflow-y: auto;
    padding: 90px 10px 0 10px;
}

.header-fixed {
    width: 100%;
    height: 10%;
}

.music-bar {
    width: 100%;
    height: 90px;
    background-color: var(--color-dark-grey);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}


/* *********************************************
                    contenuto main
 ********************************************* */
#nav-main ul li{
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: small;
}

#nav-main ul li:first-child{
    border-bottom: 2px solid var(--color-highlight);   
    color: var(--color-white);
}

#nav-main ul li:hover{
    color: var(--color-white);
   
}
#nav-main ul li:active{
    border-bottom: 2px solid var(--color-highlight);   
}

#recently{
    padding: 20px;
}

#creato-per-me{
    padding: 40px 20px;
}
.album {
    width: calc(100% / 6 );
    height: 200px;
    padding: 5px;
    margin-top: 20px;
   
}

.img-album{
    width: 100%;
    height:100% ;
    margin: 0 auto;  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-album-tondo{
    width: 100%;
    height:100% ;
    margin: 0 auto;  
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

figcaption > h4{
    padding:10px 0;
}

/* sfondi album recently */
.sfondo1{
    background-image: url(../img/metal_lifting.jpg);
}
.sfondo2{
    background-image: url(../img/stranger.jpeg);
}
.sfondo3{
    background-image: url(../img/aquietplace.jpeg);
}
.sfondo4{
    background-image: url(../img/split.jpeg);
}
.sfondo5{
    background-image: url(../img/cure.jpeg);
}
.sfondo6{
    background-image: url(../img/sinister.jpeg);
}

/* sfondo album per me */

.sfondo7{
    background-image: url(../img/radar.jpeg);
}

.sfondo8{
    background-image: url(../img/mixdaily.jpeg);
}

/* sfondi artisti popolari */

.sfondo9{
    background-image: url(../img/youg.jpeg);
}

.sfondo10{
    background-image: url(../img/einaudi.jpeg);
}


.text-album{
    width: 100%;
    padding-top: 10px;
}

.button{
    border-radius: 20px;
    border: 1px solid var(--color-white);
    padding: 10px 30px;
    font-size: 0.6em;
    font-weight: 600;
    margin-right: 20px;
    transition: 1s;
}

.button:hover{
    scale: 1.2;
    border: 2px solid var(--color-white);
    box-shadow: 2px 3px 3px var(--color-light-grey);
    text-shadow:2px 3px 3px var(--color-light-grey) ;
}

/* *********************************************
                    menù
 ********************************************* */

.logo{
    width: 50%;
    padding: 10px;
}

.menu-navbar{
    width: 100%;  
}

.icon{
    padding: 5px;
}

.menu-navbar ul li{
     padding: 5px;
}

.menu-navbar ul{
    padding: 10px 0;
}

.menu-navbar ul li:first-child{
    border-left: 3px solid var(--color-highlight);
    color: var(--color-white);
}

.menu-navbar ul li:hover{
    color: var(--color-white);
}

.menu-navbar ul li:active{
    border-left: 3px solid var(--color-highlight);
    color: var(--color-white);
}

.playlist{
    width: 100%;
    padding: 10px;
}

.cubetto{
    width: 30px;
    height: 30px;
    background-color: var(--color-grey);
    margin-right: 5px;
    color: var(--color-black);
}

.playlist ul li{
    padding: 10px 0;    
}

.playlist ul li:hover{
    color: var(--color-white);
}

.coda-menu{
    width: 250px;
    position: fixed;
    bottom: 90px;
    left: 0;
}

/* *********************************************
                    music bar
 ********************************************* */
 /* sinistra */
 .album-canzone{
    width: 15%;
    height: 90px;
 }

 .piccolo-album{
    width: 130px;
    height: 40px;
    
 }

 .piccola-img{
    width: 30%;
    height:100% ;
    background-image: url(../img/sinister.jpeg);
    background-position: center;
    background-size: contain;
    margin: 0 auto;
 }

 .piccolo-testo{
    width: 70%;
    padding: 10px;
    font-size: 0.8em;
 }
 .fa-folder:hover{
    color: var(--color-white);
 }

 .fa-heart:hover{
    color: var(--color-white);
 }

 /* centro */
 .tasti-brano{
    width: 30%;
    height: 90px;
 }

 .play-stop{
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 80px;
 }

 .music-duration{
    padding: 5px;
 }

 .barra-musica{
    width: 100%;
    background-color: var(--color-grey);
    border-radius: 10px;
    outline: none;
 }

 /* destra */
 .div-volume{
    width: 20%;
    height: 90px;
 }

 .debug {
    border: 2px solid blue;
}
/* prima desktop first per media query */

@media screen and (max-width:1200px) {}

@media screen and (max-width:576px) {}

@media screen and (min-width:367px) {}

/* bonus */

/* 
bottone si ingrandisce 
hover lista 
hover e effetti su album
hover e active sul menu centrale 
hover su barra musicale 
*/

/*icons

<i class="fa-solid fa-house"></i> --home
<i class="fa-solid fa-magnifying-glass"></i> --search-lens
<i class="fa-solid fa-lines-leaning fa-flip-horizontal"></i> --libraries
<i class="fa-solid fa-plus"></i> --plus/add
<i class="fa-regular fa-circle-down"></i> --download-app
<i class="fa-regular fa-heart"></i> --heart
<i class="fa-regular fa-folder"></i> --folder
<i class="fa-solid fa-list"></i> --list
<i class="fa-solid fa-desktop"></i> --desktop
<i class="fa-solid fa-volume-high"></i> --volume
<i class="fa-regular fa-circle-play"></i> --play

*/