/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark-color: #141922;
    --color-dark-grey: #282828;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #717171;
    --color-light-grey: #C1C1C1;
    --color-highlight: #ADFF2F;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 15px;

}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color-highlight);
    border-radius: 10px;
    display: none;
}

::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 5px var(--color-highlight);
    border-radius: 10px;
    display: block;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-light-grey);
    border-radius: 10px;
    display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-grey);
    display: block;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* *********************************************
                    utility
 ********************************************* */
.uppercase {
    text-transform: uppercase;
}

.px-10 {
    padding: 0 10px;
}

.py-10 {
    padding: 10px 0;
}

.border-bottom-grey {
    border-bottom: 1px solid var(--color-grey);
}

.border-circle {
    border-radius: 50%;
    overflow: hidden;
}

.margin-top {
    margin-top: 50px;
}

.margin-bottom {
    margin-bottom: 50px;
}



/* *********************************************
                    flex
 ********************************************* */

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.center-left {
    display: flex;
    align-items: flex-start;
}

.stretch {
    display: flex;
    align-items: stretch;
    align-content: stretch;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    justify-content: end;
    align-items: center;

}



/* *********************************************
                    text
 ********************************************* */
.text-center {
    text-align: center;
}

.text-white {
    color: var(--color-white);
}

.text-grey {
    color: var(--color-grey);
}

.text-grey-light {
    color: var(--color-light-grey);
}

h3 {
    font-size: 1.0em;
}

h4 {
    font-size: 0.7em;
}

/* *********************************************
                    wrapper
 ********************************************* */

.wrapper {
    width: 100%;
    height: 100vh;
}

#call-to-action {
    background-color: rgba(0, 0, 0, 0.592);
    width: calc(100% - 250px);
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;

}

main {
    width: 100%;
    height: calc(100% - 90px);
    background-color: var(--color-dark-grey);
}

.menu {
    width: 250px;
    height: 100%;
    background-color: var(--color-black);
    font-size: 0.7em;
    font-weight: 600;
    margin-bottom: 90px;

}

.menu2 {
    width: 50px;
    height: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 0.7em;
    font-weight: 600;
    margin-bottom: 90px;
}

.logo-small {
    width: 30px;
    padding: 5px;
}

#main-content {
    width: calc(100% - 250px);
    background-color: var(--color-dark-color);
    overflow-y: auto;
    padding: 90px 10px 0 10px;
    overflow-x: hidden;
}

.header-fixed {
    width: 100%;
    height: 10%;
}

.music-bar {
    width: 100%;
    height: 90px;
    background-color: var(--color-dark-grey);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
}


/* *********************************************
                    contenuto main
 ********************************************* */
#nav-main ul li {
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: small;
}

#nav-main ul li:hover {
    color: var(--color-white);
}

#nav-main ul li:hover .underline {
    opacity: 0;
}

#nav-main ul li:active .underline {
    color: var(--color-white);
    opacity: 1;
}

.underline {
    opacity: 0;
    background-color: var(--color-highlight);
    width: 40%;
    height: 2px;
    margin: 0 auto;
    margin-top: 3px;
}



#creato-per-me {
    padding: 40px 0;
}



.album {
    min-width: calc(100% / 6 - 10px);
    margin: 5px;
    height: 250px;
   
}

figcaption{
    width:inherit;
}

.contenitore-immagine {
    position: relative;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.img-tonde {
    border-radius: 50%;
    overflow: hidden;
}

.img-album2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: contain;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.contenitore-immagine:hover .overlay {
    opacity: 1;
}

.play3 {
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    font-size: 3em;
    color: var(--color-white);

}

.play3:hover {
    opacity: 1;
}


figcaption>h4 {
    padding: 10px 0;
}

.text-album {
    width: 100%;
    padding-top: 10px;
}

.button {
    border-radius: 20px;
    border: 1px solid var(--color-white);
    padding: 10px 30px;
    font-size: 0.6em;
    font-weight: 600;
    margin-right: 20px;
    transition: 1s;
}

.button:hover {
    scale: 1.2;
    border: 2px solid var(--color-white);
    box-shadow: 2px 3px 3px var(--color-light-grey);
    text-shadow: 2px 3px 3px var(--color-light-grey);
}

/* *********************************************
                    menù
 ********************************************* */

.logo {
    width: 50%;
    padding: 10px;
}

.menu-navbar {
    width: 100%;
}

.menu2{
    display: none;
}

.icon {
    padding: 5px;
}

.menu-navbar ul li {
    padding: 5px;
}

.menu-navbar ul {
    padding: 10px 0;
}

.menu-navbar ul li:first-child {
    border-left: 3px solid var(--color-highlight);
    color: var(--color-white);
}

.menu-navbar ul li:hover {
    color: var(--color-white);
}

.menu-navbar ul li:active {
    border-left: 3px solid var(--color-highlight);
    color: var(--color-white);
}

.playlist {
    width: 100%;
    padding: 10px;
}

.cubetto {
    width: 30px;
    height: 30px;
    background-color: var(--color-grey);
    margin-right: 5px;
    color: var(--color-black);
}

.playlist ul li {
    padding: 10px 0;
}

.playlist ul li:hover {
    color: var(--color-white);
}

.white:hover{
    background-color: var(--color-white);
}

.installa:hover {
    text-decoration: underline;
    color: var(--color-white);
}

.coda-menu {
    width: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    /* position: fixed;
    bottom: 90px;
    left: 0; */
}

/* *********************************************
                    music bar
 ********************************************* */
/* sinistra */
.album-canzone {
    width: 15%;
    height: 90px;
}

.piccolo-album {
    width: 130px;
    height: 40px;
}

.piccola-img {
    width: 30%;
    height: 100%;
    background-image: url(../img/sinister.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.piccolo-testo {
    width: 70%;
    padding: 10px;
    font-size: 0.8em;
}

.fa-folder:hover {
    color: var(--color-white);
}

.fa-heart:hover {
    color: var(--color-white);
}

/* centro */
.tasti-brano {
    width: 30%;
    height: 90px;
}

.play-stop {
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 80px;
}

.play-stop i:hover {
    transform: scale(1.2);
}

.div-volume i:hover {
    transform: scale(1.2);
}

.music-duration {
    padding: 5px;
}

.progress-bar {
    width: 30%;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 10px;
}

.progress-music::-webkit-slider-runnable-track {
    width: 100%; 
    background: linear-gradient(to right,var(--color-light-grey) 0%, var(--color-light-grey) 20%,var(--color-grey) 20%, var(--color-grey)  100%); 
    border-radius: 5px;
  }

  .progress-music::-webkit-slider-runnable-track:hover{
    background: linear-gradient(to right,var(--color-highlight) 0%, var(--color-highlight) 20%,var(--color-grey) 20%, var(--color-grey)  100%); 
  }

.progress-bar:hover {
    background-color: var(--color-white);
}

.barra-musica {
    width: 100%;
    
}

.progress-music{
    width: 100%; 
    height: 5px; 
    border-radius: 10px; 
    outline: none; 
    -webkit-appearance: none; 
    position: relative;
    
}

.progress-music::-webkit-slider-thumb {
    width: 5px; 
    height: 5px; 
    background-color: var(--color-light-grey); 
    border-radius: 20px;
    -webkit-appearance: none;  
  }

  .progress-music::-webkit-slider-thumb:hover{
    transform: scale(3);
    background-color: var(--color-white); 
  }

/* destra */
.div-volume {
    width: 20%;
    height: 90px;
}

.barra-volume{
    width: 30%;
}

/* *********************************************
                    pagina cerca
 ********************************************* */
.bg-black{
    background-color: var(--color-black);
}
.debug {
    border: 2px solid blue;
}

.main-content-cerca {
    width: calc(100% - 70px); 
    background-color: rgb(25, 25, 25);
}

.menu-cerca{
    width: 70px;
    height: 100%;
    background-color:rgb(18, 18, 18);
    line-height: 0.5;
}

.navbar{
    width: 100%;
    height: 70px;
}

.freccette{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.339);
    padding:  10px;
    margin:0  5px;
}

input::placeholder{
    color: var(--color-light-grey);
    font-size: 1.0em;
}

#search{
    border-radius: 20px;
    padding: 6px 10px;
    background-color:rgb(42, 42, 42);
}

#search:hover{
    border: 2px solid var(--color-white);
}

.quadrati{
    width:calc(100% / 7 - 20px);
    height: 200px;
    margin: 10px;
    border-radius: 10px ;
    position: relative;
    overflow: hidden;
}

.bg-colore1{
    background-color:#006450;
}

.bg-colore2{
    background-color:rgb(115, 88, 255);
}

.bg-colore3{
    background-color:rgb(30, 50, 100);
}

.bg-colore4{
    background-color:rgb(232, 17, 91);
}

.bg-colore5{
    background-color:rgb(20, 138, 8);
}

.bg-colore6{
    background-color:rgb(80, 55, 80);
}




.ruota-img{
    width: 60%;
    position: absolute;
    bottom: -10%;
    right: -6%;
    transform: rotate(30deg);
}
.titoletto{
    position: absolute;
    top: 10%;
    left: 8%;
    font-size: 1.5em;
    
}

.container-album-cerca{
    height: calc(100% - 70px);
    margin-top: 20px;
    padding: 10px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.wrappa{
    display: flex;
    flex-flow: row wrap;
}

/* prima desktop first per media query */

@media screen and (max-width:1200px) {
    
    .flex-wrap {
        display: flex;
        flex-flow: row wrap;
    }

    .album {
        width: calc(100% / 4 - 10px);
        margin-top: 20px;
        margin-bottom: 60px;
        font-size: 0.8em;
        
    }

    .menu2 {
        display: none;
    }
}
@media screen and (max-width:1094px) {
    .album {
        width: calc(100% / 3 - 10px);
        height: 300px;
    }

    .contenitore-immagine{
        height: 90%;
    }

    .menu2 {
        display: none;
    }
}
@media screen and (max-width:992px) {
    .album {
        width: calc(100% / 3 - 10px);
        height: 250px;
    }
    
    #call-to-action {
        width: calc(100% - 200px);
    }

    #main-content {
        width: calc(100% - 200px); 
    }
    .menu{
        width: 200px;
        line-height: 0.5;
    }
    .contenitore-immagine{
        height: 80%;
    }

    .menu2 {
        display: none;
    }

    .play-stop{
        padding: 10px;
    }
}
@media screen and (max-width:768px) {
    .flex-wrap {
        display: flex;
        flex-flow: row wrap;
    }
    
    #call-to-action {
        width: calc(100% - 200px);
    }

    #main-content {
        width: calc(100% - 200px); 
    }


    .album {
        width: calc(100% / 2 - 10px);  
    }

    

    .menu{
        width: 200px;
        line-height: 0.5;
    }
    
   

    .icon-bar {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .album-canzone {
        width: 20%;
        height: 90px;
        padding-left: 5px;
    }

    .tasti-brano {
        width: 50%;
        height: 90px;
    }

    .div-volume {
        width: 30%;
        height: 90px;
    }

    .play {
        margin-top: 12%;
        height: 150px;
    }
}
@media screen and (max-width:576px) {

    .menu {
        display: none;
    }

    .menu2 {
        display: block;
    }

    #recently{
        padding: 5px;
    }

    #call-to-action {
        width: calc(100% - 50px);
    }

    .margin-top {
        margin-top: 0;
    }

    .margin-bottom {
        margin-bottom: 20px;
    }

    #main-content {
        width: calc(100% - 50px);
    }

    .img-album {
        padding: 5px;
        margin: 0;
    }

    .album {
        margin-top: 10px;
        height: 220px;
    }

    .tasti-brano {
        width: 80%;
        margin: 0 auto;
    }

    .album-canzone {
        display: none;
    }

    .div-volume {
        display: none;
    }

}